{% extends 'General.html' %}
<!--////////////////////////////////-->
{% load static%}
<!--////////////////////////////////-->
{% block title %}Categorías{% endblock %}
<!--////////////////////////////////-->
{% block link %}
<link rel="stylesheet" href="{% static 'css/categorias.css' %}" type="text/css">{% endblock %}
<!--////////////////////////////////-->
{% block content %}
<div class="section_index">
    <!--comienzo de sección de búsqueda-->
    <h1 class="user--title_font ">Postres</h1>
    <input class="category-search" placeholder="Buscar" type="search">
    <span class="icon-search"><i class="fas fa-search"></i></span>
    <button class="submit">Buscar</button>
    <div class="category_list">
        <h3 class="category_list-title">Buscar por:</h3>
        <button class="category_opc-btn active">Todos</button>
        <button class="category_opc-btn">Comidas</button>
        <button class="category_opc-btn">Bebidas</button>
        <button class="category_opc-btn">Postre</button>
        <button class="category_opc-btn">Promociones</button>
    </div>
    <!--fin de sección de búsqueda -->
    <!--comienzo de contenido categorías-->
    <div class="category_contain ">
        <section class="cuadro_info-container auto ">
            <img class="cuadro_img " src="{%static 'img/brasa-completo.jpg' %} " alt="image ">
            <p class="cuadro_info ">1 pollo + papas + ensalada</p>
            <p>a solo:</p>
            <p class="font-precio ">39.90</p>
            <button class="submit ">comprar</button>
        </section>
        <section class="cuadro_info-container ">
            <img class="cuadro_img " src="{%static 'img/brasa-completo.jpg' %} " alt="image ">
            <p class="cuadro_info ">1 pollo + papas + ensalada</p>
            <p>a solo:</p>
            <p class="font-precio ">39.90</p>
            <button class="submit ">comprar</button>
        </section>
        <section class="cuadro_info-container ">
            <img class="cuadro_img " src="{%static 'img/brasa-completo.jpg' %} " alt="image ">
            <p class="cuadro_info ">1 pollo + papas + ensalada</p>
            <p>a solo:</p>
            <p class="font-precio ">39.90</p>
            <button class="submit ">comprar</button>
        </section>
        <section class="cuadro_info-container ">
            <img class="cuadro_img " src="{%static 'img/brasa-completo.jpg' %} " alt="image ">
            <p class="cuadro_info ">1 pollo + papas + ensalada</p>
            <p>a solo:</p>
            <p class="font-precio ">39.90</p>
            <button class="submit ">comprar</button>
        </section>
        <section class="cuadro_info-container ">
            <img class="cuadro_img " src="{%static 'img/brasa-completo.jpg' %} " alt="image ">
            <p class="cuadro_info ">1 pollo + papas + ensalada</p>
            <p>a solo:</p>
            <p class="font-precio ">39.90</p>
            <button class="submit ">comprar</button>
        </section>
        <section class="cuadro_info-container ">
            <img class="cuadro_img " src="{%static 'img/brasa-completo.jpg' %} " alt="image ">
            <p class="cuadro_info ">1 pollo + papas + ensalada</p>
            <p>a solo:</p>
            <p class="font-precio ">39.90</p>
            <button class="submit ">comprar</button>
        </section>
        <section class="cuadro_info-container ">
            <img class="cuadro_img " src="{%static 'img/brasa-completo.jpg' %} " alt="image ">
            <p class="cuadro_info ">1 pollo + papas + ensalada</p>
            <p>a solo:</p>
            <p class="font-precio ">39.90</p>
            <button class="submit ">comprar</button>
        </section>
        <section class="cuadro_info-container ">
            <img class="cuadro_img " src="{%static 'img/brasa-completo.jpg' %} " alt="image ">
            <p class="cuadro_info ">1 pollo + papas + ensalada</p>
            <p>a solo:</p>
            <p class="font-precio ">39.90</p>
            <button class="submit ">comprar</button>
        </section>
        <section class="cuadro_info-container ">
            <img class="cuadro_img " src="{%static 'img/brasa-completo.jpg' %} " alt="image ">
            <p class="cuadro_info ">1 pollo + papas + ensalada</p>
            <p>a solo:</p>
            <p class="font-precio ">39.90</p>
            <button class="submit ">comprar</button>
        </section>
        <section class="cuadro_info-container ">
            <img class="cuadro_img " src="{%static 'img/brasa-completo.jpg' %} " alt="image ">
            <p class="cuadro_info ">1 pollo + papas + ensalada</p>
            <p>a solo:</p>
            <p class="font-precio ">39.90</p>
            <button class="submit ">comprar</button>
        </section>
        <section class="cuadro_info-container ">
            <img class="cuadro_img " src="{%static 'img/brasa-completo.jpg' %} " alt="image ">
            <p class="cuadro_info ">1 pollo + papas + ensalada</p>
            <p>a solo:</p>
            <p class="font-precio ">39.90</p>
            <button class="submit ">comprar</button>
        </section>
        <section class="cuadro_info-container ">
            <img class="cuadro_img " src="{%static 'img/brasa-completo.jpg' %} " alt="image ">
            <p class="cuadro_info ">1 pollo + papas + ensalada</p>
            <p>a solo:</p>
            <p class="font-precio ">39.90</p>
            <button class="submit ">comprar</button>
        </section>
    </div>
    <!--fin contenido categorías-->
    <!--comienzo del banner-->
    <img class="category-img" src="{% static 'img/banner-whatsapp-top.jpg' %}">
    <!--fin del banner-->
    <!--comienzo de botones de secciones-->
    <section class="category-section">
        <button class="category-section_btn section-active">1</button>
        <button class="category-section_btn">2</button>
        <button class="category-section_btn">3</button>
        <button class="category-section_btn">4</button>
        <button class="category-section_btn">...</button>
    </section>
    <!--fin de botones de secciones-->
</div>
{% endblock %}
<!--////////////////////////////////-->
{% block script %}{% endblock %}