{% extends 'General.html' %}
<!--///////////////////////-->
{% load static %}
<!--///////////////////////-->
{% block title%}Nosotros{% endblock %}
<!--///////////////////////-->
{% block link%}
<link rel="stylesheet" href="{% static 'css/nosotros.css' %}" type="text/css">{% endblock %}
<!--///////////////////////-->
{% block content %}
<h1 class="text-align nos-title">Sobre nosotros:</h1>
<!--comienzo de  nosotros-->
<div class="nos-contain">
    <!-- comienzo de Sección sobre de nosotros-->
    <div class="nos-row">
        <h3 class="text-align nos-subtitle">Cocina:</h3>
        <img src="{% static 'img/norkys-pollerias.jpg' %}" class="sb-img">
        <div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque vero corporis, optio vitae autem officia soluta aspernatur in voluptates nostrum, sit eum natus maiores omnis est consectetur iure illo exercitationem! Qui id officiis rerum doloremque
                eligendi temporibus accusamus deleniti tempore error quia itaque quisquam, molestias deserunt voluptatibus non dolore quas ad soluta sed quae placeat quis. Molestiae voluptates quasi est? Tenetur dolor a quidem iste praesentium numquam
                saepe, eum, provident nostrum impedit vel odit veritatis totam, amet nobis ea.</p>
        </div>
    </div>
    <div class="nos-row">
        <h3 class="text-align nos-subtitle">Local:</h3><img src="{% static 'img/norkys.jpg' %}" class="sb-img">
        <div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque vero corporis, optio vitae autem officia soluta aspernatur in voluptates nostrum, sit eum natus maiores omnis est consectetur iure illo exercitationem! Qui id officiis rerum doloremque
                eligendi temporibus accusamus deleniti tempore error quia itaque quisquam, molestias deserunt voluptatibus non dolore quas ad soluta sed quae placeat quis. Molestiae voluptates quasi est? Tenetur dolor a quidem iste praesentium numquam
                saepe, eum, provident nostrum impedit vel odit veritatis totam, amet nobis ea. </p>
        </div>
    </div>

    <div class="nos-row">
        <h3 class="text-align nos-subtitle">Empleados:</h3><img src="{% static 'img/trabaja-con-nosotros.jpg' %}" class="sb-img">
        <div>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque vero corporis, optio vitae autem officia soluta aspernatur in voluptates nostrum, sit eum natus maiores omnis est consectetur iure illo exercitationem! Qui id officiis rerum doloremque
                eligendi temporibus accusamus deleniti tempore error quia itaque quisquam, molestias deserunt voluptatibus non dolore quas ad soluta sed quae placeat quis. Molestiae voluptates quasi est? Tenetur dolor a quidem iste praesentium numquam
                saepe, eum, provident nostrum impedit vel odit veritatis totam, amet nobis ea. </p>
        </div>
        <!-- fin Sección de sobre nosotros-->
    </div>
</div>
<!--fin de  nosotros-->
<!--comienzo de agradecimientos-->
<h2 class="text-align nos-title">Agradecimientos:</h2>
<div class="nos-contain">
    <div class="nos-row-2">
        <img src="{% static 'img/keanu reeves.jpg' %}" class="sb-img-hover ">
        <!-- comienzo de Sección Agradecimientos-->
        <h3 class="text-align ">Keanu</h3>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque vero corporis, optio vitae autem officia soluta aspernatur in voluptates nostrum, sit eum natus maiores omnis est consectetur iure illo exercitationem! Qui id officiis rerum doloremque
                eligendi temporibus accusamus deleniti tempore error quia itaque quisquam, molestias deserunt voluptatibus non dolore quas ad soluta sed quae placeat quis. </p>
        </div>
    </div>
    <div class="nos-row-2"> <img src="{% static 'img/Marco-Dyodi.jpeg' %}" class="sb-img-hover ">
        <h3 class="text-align ">Adrián</h3>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque vero corporis, optio vitae autem officia soluta aspernatur in voluptates nostrum, sit eum natus maiores omnis est consectetur iure illo exercitationem! Qui id officiis rerum doloremque
                eligendi temporibus accusamus deleniti tempore error quia itaque quisquam, molestias deserunt voluptatibus non dolore quas ad soluta sed quae placeat quis. </p>
        </div>
    </div>
    <div class="nos-row-2"> <img src="{% static 'img/1.webp' %}" class="sb-img-hover ">
        <h3 class="text-align ">Marcus</h3>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque vero corporis, optio vitae autem officia soluta aspernatur in voluptates nostrum, sit eum natus maiores omnis est consectetur iure illo exercitationem! Qui id officiis rerum doloremque
                eligendi temporibus accusamus deleniti tempore error quia itaque quisquam, molestias deserunt voluptatibus non dolore quas ad soluta sed quae placeat quis.</p>
        </div>
    </div>
    <!-- fin de Sección Agradecimientos-->

</div>
<!--fin de agradecimientos-->

{% endblock %}
<!--///////////////////////-->
{%block script %}{% endblock %}